<header class="header">
    <div class="header__container container">
        <nav class="navbar text--white text--bold">
            <ul class="navbar__content">
                <li class="header__logo">
                    <a href="#"><img class="header__logo--icon" src="public/apposta-logo.svg" alt="logo"></a>
                </li>
                <li class="navbar__basket">
                    <a href="#">
                        <img class="header__basket--icon" src="public/icons/Icon_Navigation_Bag.png" alt="icon-bag">
                        <div class="navbar__basket--badge"><span class="text--light">99</span></div>
                        <div class="navbar__basket--tooltip hide">
                            <div>99 items in your basket</div>
                            <button class="navbar__basket--checkout">Proceed to checkout</button>
                        </div>
                    </a>
                </li>
                <li class="navbar__menu">
                    <a href="#">
                        <img class="navbar__menu--open" src="public/icons/Icon_Navigation_Menu.png" alt="menu">
                        <img class="navbar__menu--close hide"src="public/icons/Icon_Navigation_Menu-Close.png" alt="menu-close">
                    </a>
                </li>

            </ul>

            <div class="navbar__primary hide">
                <ul class="navbar__primary">
                    <li><a href="about.html">Design your shirt</a></li>
                    <li><a href="home.html">Browse styles</a></li>
                </ul>
                <ul class="dropdown-menu__header">
                    <li><a href="#">Guides</a>
                        <div class="dropdown-menu -guides-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item -has-children" href="#">How to create your custom shirt</a>
                            <ul>
                                <li><a href="#">Design your own shirt</a></li>
                                <li><a href="#">Take measurements on the body</a></li>
                                <li><a href="#">Take measurements on another shirt</a></li>
                                <li><a href="#">Customize a shirt</a></li>
                                <li><a href="#">Choose a standard size</a></li>
                                <li><a href="#">Take care of your Apposta shirt</a></li>
                            </ul><a class="dropdown-item -has-children" href="#">Elements of your custom shirt</a>
                            <ul class="two-column-links">
                                <li> <a href="#">Types of material</a></li>
                                <li> <a href="#">Types of weaving</a></li>
                                <li> <a href="#">Types of cuff</a></li>
                                <li> <a href="#">The embroidered monograms</a></li>
                                <li> <a href="#">Types of collar</a></li>
                                <li> <a href="#">Luxury yarns</a></li>
                                <li> <a href="#">Fittings</a></li>
                                <li> <a href="#">Fashion inserts</a></li>
                            </ul><a class="dropdown-item -has-children" href="#">The fabrics producers</a>
                            <ul>
                                <li> <a href="#">Canclini</a></li>
                                <li> <a href="#">David & John Anderson</a></li>
                                <li> <a href="#">Getzner</a></li>
                                <li> <a href="#">Cotonificio Albini</a></li>
                                <li> <a href="#">Thomas Mason</a></li>
                                <li> <a href="#">Soktas</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ul>
                            <li><span>Language</span></li>
                            <li><a href="#">EN</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">De</a></li>
                            <li><a href="#">Ru</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Currency</span><a>Euro</a>
                        <div><a >USD</a><a >GBP</a><a >UAH</a></div>
                    </li>
                    <li><a>Tomasz Zelmanski</a>
                        <div><a href="#">My Apposta</a><a >Orders</a><a href="#">Measurements</a><a href="#">My Account</a><a class="dropdown-item" href="#">Logout</a></div>
                    </li>
                    <li><a >Apposta</a>
                        <div><a href="#">About us</a><a href="#">The Apposta shirt</a><a href="#">OEKO_TEX certification</a></div>
                    </li>
                    <li><a >Information</a>
                        <div ><a href="#">Resolution and Returns</a><a href="#">Shipping and delivery</a><a class="dropdown-item" href="#">FAQ customer care</a></div>
                    </li>
                </ul>
                <ul class="socials-list social-menu__header d-xl-none">
                    <li><a href="#">
                        <svg class="i-facebook">
                            <use xlink:href="images/sprite.svg#social-facebook"></use>
                        </svg></a></li>
                    <li><a href="#">
                        <svg class="i-twitter">
                            <use xlink:href="images/sprite.svg#social-twitter"></use>
                        </svg></a></li>
                    <li><a href="#">
                        <svg class="i-google">
                            <use xlink:href="images/sprite.svg#social-google"></use>
                        </svg></a></li>
                </ul>
            </div>
        </nav>
    </div>

</header>
