// Breakpoints
// ------------------------------------------
// * device
// * device-small
// * device-medium
// * device-big
// ------------------------------------------
$mobile: 320px;
$mobile-medium: 375px;
$mobile-big: 425px;
$tablet: 768px;
$tablet-big: 1024px;
$desktop: 1440px;
$desktop-retina: 2560px;

// Default page container
// ------------------------------------------
$container: $desktop;

// Breakpoints map
// ------------------------------------------
$breakpoints: (
  'mobile': $mobile,
  'tablet': $tablet,
  'tablet-big': $tablet-big,
  'desktop': $desktop,
  'container': $container,
);
