// Global
// ------------------------------------------
$color-transparent: rgba(0, 0, 0, 0);
$color-black: #000000;
$color-white: #ffffff;

// Brand (typography & icons)
// ------------------------------------------
$color-brand: (
  'black-russian': #000227,
  'nile-blue': #1a2f4f,
  'fiord': #4d5d6c,
  'gull-gray': #96a8b2,
  'concrete': #f3f3f3,
  'mystic': #e1e7ea,
);

$color-grayscale: (
  'default': #eaeaea,
  'white-transparent': rgba(#ffffff, .7),
  'black-transparent': rgba(#000000, .7),
  'gray-light': #f5f5f5,
  'gray': #d7d7d7,
  'gray-dark': #979797,
);

// Base (typography)
// ------------------------------------------
$color-base: (
  'default': #{map-get($color-brand, nile-blue)},
  'white': $color-white,
  'black': $color-black,
);

// Color names based on http://chir.ag/projects/name-that-color/
$color-background: (
  'default': $color-white,
  'horizon': #5d889f,
  'white-rock': #ede5d8,
  'double-spanish-white': #e7cbb9,
  'satin-linen': #eceddf,
  'geyser': #d3e3e5,
  'bizarre': #eddcd8,
  'white-lilac': #e4e5f5,
  'black-squeeze': #e4f3f5,
);

//Button colors list: background and font color
$color-button: (
  'blue-ribbon': (#1246fb, $color-white),
  'dark-blue': #0023c8,
  'caribbean-grean': (#00c899, $color-white),
  'nile-blue': ($color-transparent, #{map-get($color-brand, nile-blue)}),
  'fiord': ($color-transparent, #{map-get($color-brand, fiord)}),
  'milano-red': #c82300,
);
