// Global
// ------------------------------------------
$color-transparent: rgba(0, 0, 0, 0);
$color-black: #000000;
$color-white: #ffffff;

// Brand (typography & icons)
// ------------------------------------------
$color-brand: (
  'black-russian': #000227,
  'nile-blue': #1a2f4f,
  'fiord': #4d5d6c,
  'gull-gray': #96a8b2,
  'concrete': #f3f3f3,
  'mystic': #e1e7ea,
  'caribbean-green': #00c899,
  'caribbean-green-btn': #00c891,
  'milano-red': #c82300,
  'electric-blue': #1246fb,
);

$color-grayscale: (
  'default': #eaeaea,
  'white-transparent': rgba(#ffffff, .7),
  'black-transparent': rgba(#000000, .7),
  'gray-light': #f5f5f5,
  'gray': #d7d7d7,
  'gray-dark': #979797,
);

// Base (typography)
// ------------------------------------------
$color-base: (
  'default': #{map-get($color-brand, nile-blue)},
  'white': $color-white,
  'black': $color-black,
);

// Color names based on http://chir.ag/projects/name-that-color/
$color-background: (
  'default': $color-white,
  'horizon': #5d889f,
  'white-rock': #ede5d8,
  'double-spanish-white': #e7cbb9,
  'satin-linen': #eceddf,
  'geyser': #d3e3e5,
  'bizarre': #eddcd8,
  'white-lilac': #e4e5f5,
  'black-squeeze': #e4f3f5,
);

//Button colors list: border, background and font color
$color-button: (
  'default': (#{map-get($color-brand, gull-gray)}, $color-transparent, #{map-get($color-brand, fiord)}),
  'success': (#{map-get($color-brand, caribbean-green-btn)}, $color-transparent, #{map-get($color-brand, caribbean-green-btn)}),
  'danger': (#{map-get($color-brand, milano-red)}, $color-transparent, #{map-get($color-brand, milano-red)}),
  'disabled': (#e9e9e9, $color-transparent, rgba(map-get($color-brand, gull-gray), 0.5)),
  'order-add': (#e9e9e9, $color-transparent, #{map-get($color-brand, gull-gray)}),
  'order-success': (#{map-get($color-brand, caribbean-green)}, #{map-get($color-brand, caribbean-green-btn)}, $color-white),
);

//Tags colors list: border, background and font color
$color-tags: (
  'default': ($color-transparent, $color-white, #{map-get($color-brand, nile-blue)}),
  'sale': ($color-transparent, #{map-get($color-brand, milano-red)}, $color-white),
  'new': ($color-transparent, #{map-get($color-brand, electric-blue)}, $color-white),
);
