// Global styles
// ------------------------------------------
body {
  @extend %u-text--default;
  @extend %u-font--thin;
  background: map-get($color-brand, 'black-russian');
  margin: 0;
  color: map-get($color-base, 'default');
  overflow-x: hidden;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px $color-white inset;
  -webkit-text-fill-color: $color-black;
}

input:-webkit-autofill:focus {
  box-shadow: $color-white, 0 0 0 50px white inset;
  -webkit-text-fill-color: $color-black;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-black;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
