.container {
  margin: 0 auto;
  max-width: $container;
  width: 100vw;
}

.hide {
  display: none;
}

.text--bold {
  @extend %u-font--bold;
}

.text--light {
  @extend %u-font--light;
}

.text-small {
  @extend %u-text--small;
}

.hidden-desktop {
  @include min-screen($desktop) {
    display: none;
  }
}

.hidden-mobile {
  @include max-screen($desktop) {
    display: none;
  }
}

.visible-desktop {
  @include min-screen($desktop) {
    display: block;
  }
}

.visible-mobile {
  @include max-screen($desktop) {
    display: block;
  }
}

@each $current-color in $color-base {
  .text--#{nth($current-color, 1)} {
    color: nth($current-color, 2);
  }
}

@each $current-color in $color-brand{
  .text-brand--#{nth($current-color, 1)} {
    color: nth($current-color, 2);
  }
}
