.container {
  width: 100vh;
  max-width: $container;
  margin: 0 auto;
}

.hide {
  display: none;
}

.text--bold {
  @extend %u-font--bold;
}

.text--light {
  @extend %u-font--light;
}

.text-small {
  @extend %u-text--small;
}

@each $current-color in $color-base {
  .text--#{nth($current-color, 1)} {
    color: nth($current-color, 2);
  }
}

@each $current-color in $color-brand{
  .text-brand--#{nth($current-color, 1)} {
    color: nth($current-color, 2);
  }
}